<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Daily Menu</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Daily Menu">
        <meta name="author" content="Pulilab">


        <link rel="stylesheet" href="style/bootstrap.css">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="wrap">
            <div class="container">

                <header class="page-header">
                  <h1>Daily menu</h1>
                  <h4 class="pull-right date">Tuesday, October 18, 2012</h4>
                </header>

            </div>
            <div id="push"></div>
        </div>

        <footer id="footer">
            <div class="container">
            <p class="muted credit">Daily menu created by <a href="#">Viktor</a> and <a href="#">Richard </a> at <a href="#">Pulilab</a>.</p>
            </div>
        </footer>
        
        <!-- The layout template -->
         <script type="text/template" id="layout-template">
                <div id="table-container"></div>
                <aside id="detailed-view-container"></aside>
        </script>

        <!-- The template for the table -->
        <script type="text/template" id="table-template">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Restaurant name</th>
                            <th>Menu</th>
                        </tr>
                    </thead>

                    <!--We generates the rows dinamicaly-->
                    <tbody></tbody>
                </table>
        </script>

        <!--Menu item - single view-->
        <script type="text/template" id="item-template">
             <div class="span3 offset1">
                <h3><%= place.attributes.restaurantName %></h3>

                <h5>Menu today:</h5>
                <p><%= menu  %></p>
                <div class='address-block'>
                    <h5>Location:</h5>
                    <p><%= place.attributes.address %></p>

                    <hr>
                    
                    <div class="buttons">
                      <button id="like-button" class="btn btn-small btn-primary" type="button"><i class="icon-thumbs-up icon-white"></i> Like <small><%= place.attributes.like %></small></button>
                      <button id="unlike-button" class="btn btn-small btn-danger" type="button"><i class="icon-thumbs-down icon-white"></i> Dislike <small><%= place.attributes.unlike %></small></button>
                    </div>
                </div>
            </div>
        </script>

        <!-- Menu item in the table -->
        <script type="text/template" id="item-row-template">
                <td><%= place.attributes.restaurantName %></td>
                <td><%= menu %></td>
        </script>
        
        <script type="text/javascript" src="libs/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="libs/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="libs/underscore-min.js"></script>
        <script type="text/javascript" src="libs/backbone-min.js"></script>
        <script type="text/javascript" src="libs/backbone.marionette.min.js"></script>
        <script type="text/javascript" src="libs/backbone-tastypie/backbone-tastypie.js"></script>
        <script data-main="src/main" src="libs/require.js"></script>

        <script type="text/javascript">
            
            // Showing the date
            $(function(){
                $('.date').html(new Date().toLocaleDateString());
                App = new Backbone.Marionette.Application();
            });
        </script>
    </body>
</html>